*{
    margin: 0;
}
section{
    width: 500px;
    height: 290px;
    margin: auto;
    position: relative;
    background: linear-gradient(rgb(6, 47, 94),rgb(73, 75, 45))
}
img{
    position: absolute;
}
img.pic{
    width: 25%;
    height: auto;
    top: 25%;
    left: 50px;
    transform: rotate(-15deg);
    border-radius: 1px;
}
img.barcode {
    width: 70px;
    top: 70%;
    left: 15px;
    z-index: 5;
}
div.name {
    position: absolute;
    top: 25%;
    right: 15%;
}
p {
    text-transform: capitalize;
}
nav{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 75%;
}
ul{
    display: inline-block;
    margin-left: 30px;
}
ul li{
    padding: 5px 0 0 0;
    list-style: none;
    display: inline-block;
    padding-left: 40px;
    font-size: 18px;
}
section:before{
    position: absolute;
    height: 3px;
    width: 100%;
    content:'';
    top: 15px;
    background: linear-gradient(90deg,
yellow 20%,
lightgreen 20%, lightgreen 40%,
green 40%, green 60%,
orange 60%, orange 80%,
red 80%);
}
section::after{
    position: absolute;
    height: 3px;
    width: 100%;
    content:'';
    bottom: 0;
    background: linear-gradient(90deg,
yellow 20%,
lightgreen 20%, lightgreen 40%,
green 40%, green 60%,
orange 60%, orange 80%,
red 80%);
}


/*     background: linear-gradient(90deg,
    yellow 20%,
    lightgreen 20%, lightgreen 40%,
    green 40%, green 60%,
    orange 60%, orange 80%,
    red 80%); */