body{
    background: #dfdfdf;
    display:flex;
}
section.galery{
    max-width:  95%;
    margin: auto;
}
ul{
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
li{
    display: flex;
    padding: 8px;
    background: white;
    border: 8px black solid;
    margin: 1.5em;
    box-shadow: 0 0 10px #000;
}
img{
    width: 100%;
    height: auto;
    align-self: center;
}