.container{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    width: 120px;
    border: 1px black solid;
    max-height: 590px;
}

.item{
    border: 1px black solid;
    max-width: 40px;
    flex: 0 0 40px;
    margin: 4px;
    text-align: center;
    padding: 0.5em 0.3em;
}
div.item:nth-child(1){
    order: 9;
}
div.item:nth-child(2){
    order: 2;
}
div.item:nth-child(3){
    order: 10;
}
div.item:nth-child(4){
    order: 4;
}
div.item:nth-child(5){
    order: 8;
}
div.item:nth-child(6){
    order: 7;
}
div.item:nth-child(7){
    order: 11;
}
div.item:nth-child(8){
    order: 5;
}
div.item:nth-child(9){
    order: 6;
}
div.item:nth-child(10){
    order: 12;
}
div.item:nth-child(11){
    order: 1;
}
div.item:nth-child(12){
    order: 3;
}
