* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 16px/1.5;
}
body{
    font-family: Helvetica, sans-serif;
    background: rgb(238, 238, 238);
    max-width: 80%;
    margin: auto;
}
main{
    max-width: 75%;
}
body, input, textarea, option, select, table, form, p{
    font: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0.5em;
}
p, ol, ul, blockquote{
    padding-bottom: 1.5em;
    box-sizing: inherit;
}
/*
h1{ font-size: 2.5em; }
h2{ font-size: 2em; }
h3{ font-size: 1.75em; }
h4{ font-size: 1.45em; }
h5{ font-size: 1.2em; }
h6{ font-size: 1em; } */
.container::after { 
    content: "";
    display: block; 
    clear: both;
}
p.site-title{
    font-family: Helvetica, sans-serif;
    font: 4em bold;
    text-transform: uppercase;
    margin: 0;
    padding: 1em 0 0.5em 0;
    border-bottom: 2px black solid;
}
img.img{
    border: 2px black solid;
    padding: 5px;
    background: white;
    box-shadow:  0px 0px 25px 1px rgba(0,0,0,0.25);
}
blockquote{
    float: right;
    width: 45%;
    padding-left: 2rem;
    margin-left: 2em;
    padding-bottom: 0.5em;
    font-style: italic;
    opacity: 0.8;
    font-family: serif;
    border-left: 2px solid gray;
}
blockquote>p{
    text-align: right;
    padding-top: 1em;
}
img.I1{
    float: right;
    margin: 0 0 1em 1em;
}
img.I2{
    float: left;
    margin: 0 1em 1em 0;
}
h1, h2{
    padding:0.5em 0;
    margin-top: 15px;
}
aside{
    float: right;
    margin-top: 2em;
}
nav ul{
    padding-left: 2em;
}
nav ul li{
    padding-left: 0.5em;
    line-height: 1.5;
}
nav ul li a{
    color: green;
    text-decoration: none;
}